{{ define "main" }}

<section class="section-sm pb-0 bg-light">
  <div class="container">
    <div class="about-header col-lg-8 mx-auto text-center">
      <h6 class="about-header__heading text-justify" style="font-family: 'Open Sans', sans-serif;">{{.Title | markdownify}}</h6>
      {{ with .Params.image }}
      <img
        src="{{ . | absURL }}"
        alt="author"
        class="author-img"
      />
      {{ end }}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <div class="content">{{.Content}}</div>
    </div>
  </div>
</section>

{{ end }}
